[submodule "packages/fyhead"]
	path = packages/fyhead
	url = git@github.com:Fy-/fyhead.git
[submodule "packages/fycore"]
	path = packages/fycore
	url = git@github.com:fyvue/core.git
[submodule "packages/fyui"]
	path = packages/fyui
	url = git@github.com:fyvue/ui.git
[submodule "packages/fyicons"]
	path = packages/fyicons
	url = git@github.com:fyvue/icons.git
[submodule "packages/fyw3"]
	path = packages/fyw3
	url = https://github.com/fyvue/w3
