.fy-modal {
    @apply fixed inset-0 overflow-y-auto;
    z-index: 40;

    .parent {
      @apply flex flex-col items-center justify-center min-h-screen;
    }
    .modal-parent {
      @apply relative mx-1 md:mx-0 w-11/12 shadow  ;
      z-index: 41;
    }
    .modal-container {
     // @apply relative mx-1 md:mx-0 md:max-w-2xl w-11/12 shadow -mt-20 ;

    }
    .title {
      @apply text-xl flex justify-between items-center px-2 py-1;
    }
    .close-icon {
      @apply w-8;
      &.is-alone {
        @apply float-right mr-1 mt-1;
      }
    }
    .modal-content {
      @apply p-2 md:p-3 xl:p-4 2xl:p-5;
    }
  }

  .light {
    .fy-modal {
      .parent {
        @apply text-fv-neutral-800;
        background: rgba(0,0,0,.2) !important;
      }
      .modal-container {
        @apply bg-fv-neutral-100;
      }
      .title {
        @apply bg-fv-neutral-50;
      }
      .close-icon {
        @apply text-fv-neutral-700;
        &:hover {
          @apply text-fv-neutral-800;
        }
      }
    }
  }

  .dark {
    .fy-modal {
      .parent {
        @apply text-fv-neutral-300;
        background: rgba(255,255,255,.2) !important;
      }
      .modal-container {
        @apply bg-fv-neutral-800;
      }
      .title {
        @apply bg-fv-neutral-900;
      }
      .close-icon {
        @apply text-fv-neutral-400;
        &:hover {
          @apply text-fv-neutral-200;
        }
      }
    }
  }
