@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@karpeleslab/fyvue/fyvue.scss";

.website {
  @apply flex flex-col w-full max-w-full;
  min-height: 100vh;
  max-height: 100vh;

  .cols {
    @apply flex container mx-auto;
    nav {
      @apply w-36 pr-0  pt-4 flex flex-col items-center justify-start border-r ;
    }
    main {
      @apply flex-grow;
      max-width: calc(100% - 9rem);
    }
  }
}
