.fy-circle-percent {
  display: flex;
  flex-flow: row nowrap;

  .circular-chart {
    display: block;
    margin: 10px auto;
  }

  .circle-bg {
    fill: none;
    stroke-width: 3.8;
  }

  .circle {
    fill: none;
    stroke-width: 3.8;
    stroke-linecap: round;
    animation: progress 3s ease-out forwards;
  }

  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }

  .percentage {
    font-size: 0.5em;
    text-anchor: middle;
  }
}
.dark {
  .circle-bg {
    stroke: #404040;
  }
  .percentage {
    fill: #ebedf1;
  }
}
.light {
  .circle-bg {
    stroke: #ccc;
  }
  .percentage {
    fill: #000;
  }
}