@layer base {
  :root {
    --color-primary: 255 115 179;
    --color-secondary: 111 114 185;
    /* ... */
  }
}

@import "./components/ui/FyModal/FyModal.scss";
@import "./components/ui/FyCirclePercent/FyCirclePercent.scss";
@import "./components/ui/FySteps/FySteps.scss";
@import "./components/ui/FyBreadcrumb/FyBreadcrumb.scss";
@import "./components/ui/FyDatatable/FyDatatable.scss";
@import "./components/ui/FyLoader/FyLoader.scss";
@import "./components/ui/FyInput/FyInput.scss";


.btn {
  @apply  text-white shadow  whitespace-nowrap ;
  @apply transition duration-300 ease-in-out transform;
  text-shadow: 2px 2px 0px rgba(0,0,0,.3);

  &.neutral {
    @apply  shadow-sm text-gray-50  ;
    background: rgba(0,0,0,.7);

  }
  &.neutral:hover {
    @apply  shadow-sm text-white ;
    background: rgba(60,60,60,.7);
  }
  &.primary {
    @apply bg-fv-primary-500 shadow-sm text-gray-50 ;

  }
  &.primary:hover {
    @apply bg-fv-primary-600 shadow-sm text-white ;
  }

  &.btn-defaults {
    @apply mx-auto px-3 py-1.5 ;
  }

  &.fround, &.round {
    @apply rounded-full;
  }
}
.btn-box {
  @apply flex space-x-2 justify-start;
  button {
    @apply flex-1;
  }
}
