html.dark {
  // brand colors
  --c-brand: #bf7ee4;
  --c-brand-light: #c086e2;

  // background colors
  --c-bg: #202020;
  --c-bg-light: #252525;
  --c-bg-lighter: #303030;

  // text colors
  --c-text: #ddd;
  --c-text-light: #eee;
  --c-text-lighter: #efefef;
  --c-text-lightest: #fff;

  // border colors
  --c-border: #303030;
  --c-border-dark: #181818;

  // custom container colors
  --c-tip: #bf7ee4;
  --c-warning: #ceab00;
  --c-warning-bg: #7e755b;
  --c-warning-title: #ceac03;
  --c-warning-text: #362e00;
  --c-danger: #940000;
  --c-danger-bg: #806161;
  --c-danger-title: #610000;
  --c-danger-text: #3a0000;
  --c-details-bg: #323843;

  // code blocks vars
  --code-hl-bg-color: #363b46;
}


.search-box {
  --search-bg-color: #ffffff;
  --search-accent-color: #955cb6;
  --search-text-color: #2c3e50;
  --search-border-color: #eaecef;

  --search-item-text-color: #505050;
  --search-item-focus-bg-color: #f3f4f5;

  --search-input-width: 16rem;
  --search-result-width: 20rem;
}
